/****************** ELEMENTS ******************/

body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 120%;
}

h1 {
  /*20em - Tamanho da letra M */
  /*1em = 16px = 100% = 1em */
  color: #66BFBF;
  font-size: 5.625rem;
  /* line-height: 2; */
  font-family: "Sacramento", cursive;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: "Montserrat", sans-serif;
  /* font-size: 2rem; */
  font-weight: normal;

}

h3{
  font-family: "Montserrat", sans-serif;
  color: #11999E;
}

a{
  color: #11999E
}

p{
  font-family: "Montserrat", sans-serif;

}

/****************** CLASS ******************/
.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.bottom-container {

}

.second-p {
  visibility: hidden;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto; /*para centralizar tudo*/
  text-align: left;
  line-height: 2; /*espaco entre linhas*/
}

.code-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.cook-img{
  width: 25%;
  float: right;
  margin-left: 30px;

}

/* .code-skill-description{
  clear: left;
}

.cook-skill-description{
  clear: right;
} */


/****************** IDS ******************/
